[submodule "front-restaurante"]
	path = front-restaurante
	url = https://github.com/PauloAlmieda/front-restaurante.git
[submodule "api-restaurante"]
	path = api-restaurante
	url = https://github.com/PauloAlmieda/api-restaurante.git
[submodule "api-vendas-restaurante"]
	path = api-vendas-restaurante
	url = https://github.com/PauloAlmieda/api-vendas-restaurante.git
